
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 160px;
    background-color: white;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: green;
    color: white;
}

li a:hover:not(.active) {
    background-color: red;
    color: white;
}