
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    font-family: Georgia;
}

li a {
    display: block;
    color: black;
	padding: 10px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #012B72;
    color: white;
}

li a:hover:not(.active) {
    background-color: aqua;
    color: white;
}